* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6; /* defines the background colour of the whole page */
}

/* below is the rule set for the header element */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6; /* changes the colour of only 'seo' in the title */
}

/* below is the rule set for the navigation element */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* below is the rule set for all links in the navigation element */
header nav a {
    display: inline-block;
    margin-left: 25px;
}

/* below is the rule set for all links in document */
a {
    color: #ffffff;
    text-decoration: none;
} 

p {
    font-size: 16px; /* sets the font size af all text in paragraph elements */
}

/* below is the rule set for the "digital-marketing-meeting" hero image */
.hero img {
    height: 75vh;
    width: 100vw;
    margin-bottom: 25px;
    position: center;
}

/* below is the rule set for all images with float-left class */
.float-left {
    float: left;
    margin-right: 25px;
}

/* below is the rule set for all images with the float-right class */
.float-right {
    float: right;
    margin-left: 25px;
}

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* below is the rule set for all articles in main element */
main article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* below is the rule set for all images in main element */
main article img {
    max-height: 200px;
}

main article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* below is the rule set for the aside element */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside article {
    margin-bottom: 32px;
    color: #ffffff;
}

/* below is the rule set for all h3 headers in the aside */
aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* below is the rule set for all images in the aside */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* below is the rule set for the footer element */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px; /* sets the font size for the h4 header in the footer section */
}
